{% extends "base.html" %}
{% load static %}

{% block extend_head %}
  <link rel="stylesheet" href="{% static "LandingPage/css/landing.css" %}">
{% endblock %}

{% block extend_header %}
  <div id="intro">
    <div class="container">
      <div class="row">
        <div class="col-md-10 parent">
          <div class="centered">
            <h2 class="display-4 mb-2">Scouts Resource Centre</h2>
            <hr>
            <h4 class="my-4">Find, create and share documents needed for Scouting.</h4>
            <a href="/resources/">
              <button class="btn btn-outline-light px-4 py-2">Launch <i class="fa fa-rocket" aria-hidden="true"></i></button>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}

{% block content %}
  <main>
    <h1>Lorem ipsum dolor</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, <em>quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</em> Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
    <h2>Lorem ipsum dolor</h2>
    <p><strong>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</strong> Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
    <ul>
      <li>Lorem ipsum dolor sit amet</li>
      <li>consectetur adipiscing elit</li>
    </ul>
    <h3>Lorem ipsum dolor</h3>
    <ol>
      <li>sed do eiusmod tempor incididunt ut labore et dolore magna aliqua</li>
      <li>Ut enim ad minim veniam</li>
    </ol>
    <h4>Lorem ipsum dolor</h4>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
  </main>
{% endblock %}
