{% extends "base.html" %}
{% load static %}

{% block extend_head %}
  <link rel="stylesheet" href="{% static "LandingPage/css/landing.css" %}">
{% endblock %}

{% block extend_header %}
  <div id="intro">
    <div class="container">
      <div class="row">
        <div class="col-md-10 col-centered">
            <h2 class="display-4 mb-2">Scouts Resource Centre</h2>
            <hr>
            <h4 class="my-4">Find, create and share documents needed for Scouting.</h4>
            <a href="/resources/">
              <button class="btn btn-outline-light px-4 py-2">Launch <i class="fa fa-rocket" aria-hidden="true"></i></button>
            </a>
        </div>
      </div>
    </div>
  </div>
{% endblock %}

{% block content %}
  <main>
    <div class="container" id="info">
      <div class="row pb-5">
        <div class="col col-lg-8">
          <!-- About us -->
          <div class="card text-center bg-light">
            <h5 class="card-header">Who we are...</h5>
            <div class="card-body">
              <h5 class="card-title">A group of volunteers</h5>
              <p class="card-text">We want to make activity paperwork easy, so we create a website just for thats. Here you can find, create and share activities, meetings, camps and risk assessment. Over the last year we slowly crafted this tool.</p>
              <a href="/about-us/" class="btn btn-primary">Find out more</a>
            </div>
          </div>
        </div>
        <div class="col col-lg-4">
          <!-- Donate -->
          <div class="card text-center text-white bg-info">
            <img class="card-img-top" src="http://btckstorage.blob.core.windows.net/site13879/Scouts%20Image%201.jpg" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">Support us!</h5>
              <p class="card-text">We are entirely funded though your donations, permium plan and a few ads.</p>
              <a href="/upgrade/" class="btn btn-primary">Upgrade</a>
              <a href="/donate/" class="btn btn-primary">Donate</a>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col col-md-4">
          <div class="card text-center">
            <img class="card-img-top" src="http://c1.hiqcdn.com/blog/sites/default/files/styles/large/public/yangtze-ri.jpg" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
          </div>
        </div>
        <div class="col col-md-4">
          <div class="card text-center">
            <img class="card-img-top" src="http://c1.hiqcdn.com/blog/sites/default/files/styles/large/public/yangtze-ri.jpg" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
          </div>
        </div>
        <div class="col col-md-4">
          <div class="card text-center">
            <img class="card-img-top" src="http://c1.hiqcdn.com/blog/sites/default/files/styles/large/public/yangtze-ri.jpg" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>
{% endblock %}
