{% extends "base.html" %}
{% load static %}

{% block extend_head %}
  <link rel="stylesheet" href="{% static "LandingPage/css/landing.css" %}">
{% endblock %}

{% block extend_header %}
  <div id="intro">
    <div class="container">
      <div class="row">
        <div class="col-md-10 col-centered">
            <h2 class="display-4 mb-2">Scouts Resource Centre</h2>
            <hr>
            <h4 class="my-4">Find, create and share documents needed for Scouting.</h4>
            <a href="/resources/">
              <button class="btn btn-outline-light px-4 py-2">Launch <i class="fa fa-rocket" aria-hidden="true"></i></button>
            </a>
        </div>
      </div>
    </div>
  </div>
{% endblock %}

{% block content %}
  <main>
    <div class="container" id="info">
      <div class="row pb-4">
        <div class="col-12 col-md-8 pb-4">
          <!-- About us -->
          <div class="card text-center mb-4 bg-light">
            <h4 class="card-header">Scouts Resource Centre???</h4>
            <div class="card-body">
              <p class="card-text">A place to find, create and share documents needed for Scouting, all in one place.</p>
              <p class="card-text"></p>
              <a href="/resources/" class="btn btn-primary">Explore <i class="fa fa-rocket" aria-hidden="true"></i></a>
              <hr>
              <p class="card-text">Sign up to create, edit and upload resources.</p>
              <a href="/sign-up/" class="btn btn-primary"><i class="fa fa-user-circle-o" aria-hidden="true"></i> Sign up</a>
            </div>
          </div>
          <div class="card text-center mt-4 bg-light">
            <h4 class="card-header">Who are we?</h4>
            <div class="card-body">
              <h5 class="card-title">Scouts, developers, volunteers</h5>
              <p class="card-text">We want to make activity paperwork easy, so we create a website just for thats. Here you can find, create and share activities, meetings, camps and risk assessment. Over the last year we slowly crafted this tool.</p>
              <a href="/about-us/" class="btn btn-primary">Find out more</a>
            </div>
          </div>
        </div>
        <div class="col col-sm-8 col-md-4 col-centered">
          <!-- Donate -->
          <div class="card text-center text-white bg-info">
            <img class="card-img-top" src="http://btckstorage.blob.core.windows.net/site13879/Scouts%20Image%201.jpg" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">Support us!</h5>
              <p class="card-text">We are entirely funded though your donations, permium plan and a few ads.</p>
              <a href="/upgrade/" class="btn btn-primary mr-1">Upgrade</a>
              <a href="/donate/" class="btn btn-secondary ml-1">Donate</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>
{% endblock %}
