@import url('https://fonts.googleapis.com/css?family=Roboto');

html,
body {
  font-family: 'Roboto', sans-serif;
}

hr.footer-title {
  width: 50%
}

.col-centered {
  margin: auto;
  text-align: center;
  align-items: center;
}

footer,
footer a {
  color: white;
  font-size: 0.85rem;
}
