@import url('https://fonts.googleapis.com/css?family=Roboto');

html,
body {
  font-family: 'Roboto', sans-serif;
}

.col-centered {
    float: none;
    margin: 0 auto;
}

.hr-footer-title {
  width: 50%
}
