{% extends "nav-included.html" %}
{% load static %}

{% block extend_head %}
  <link rel="stylesheet" href="{% static "ResourceCentre/css/resource.css" %}">
{% endblock %}

{% block extend_header %}
{% endblock %}

{% block content %}
  <main>
    <div class="container">
      <!-- Heading -->
      <div class="row">
        <div class="col-10">
          <!-- Heading -->
          <h2 class="display-4 font-bold dark-text mb-2 mt-4">Fire lighting in the woods</h2>
          <!-- Divider -->
          <hr class="hr-dark">
          <!-- Description -->
          <h4 class="dark-text my-4">Evening meeting with the cubs down the woods cooking sauages.</h4>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-3">
          <p>
            <i class="fa fa-pencil" aria-hidden="true"></i>
            <a href="#authors">Max Bell</a>
          </p>
        </div>
        <div class="col-sm-3">
          <p><i class="fa fa-calendar" aria-hidden="true"></i> 21/12/2017</p>
        </div>
        <div class="col-sm-3">
          Cubs, Scouts, Explorers
        </div>
      </div>
      {% block core %}{% endblock %}
      <!-- Authors -->
      <div class="row" id="authors">
        <div class="col-10">
          <h3>Authors</h3>
          <hr class="hr-dark">
        </div>
      </div>
      <div class="row">
        <div class="col-4">
          <h4>Creator</h4>
          <p>Max Bell</p>
          <h4>Owner</h4>
          <p>Max Bell</p>
        </div>
        <div class="col-4">
          <h4>Editors</h4>
          <p>Max Bell</p>
          <p>George Demp</p>
        </div>
        <div class="col-4">
          <h4>Contibutors</h4>
          <p>Fred</p>
          <p>James</p>
        </div>
      </div>
    </div>

  </main>
{% endblock %}
