<nav class="navbar navbar-expand-lg navbar-dark bg-dark sticky-top">
  <div class="container">
    <!-- Navbar brand -->
    <a class="navbar-brand" href="/">Scouts Resource Centre</a>
    <!-- Collapse button -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
    <!-- Collapsible content -->
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <!-- Links -->
      <div class="navbar-nav">
        <form class="form-inline" action="/search">
          <input class="form-control bg-dark text-light mr-sm-2 py-1" type="search" placeholder="Search" aria-label="Search", name="q", required>
        </form>
        <a class="nav-item nav-link" href="/resources/">Resources</a>
        <a class="nav-item nav-link" href="/about-us/">About us</a>
        <a class="nav-item nav-link" href="/donate/">Donate</a>
        <!-- Right alignment needed -->
        <a class="nav-item nav-link" href="/sign-in/"><i class="fa fa-user-circle-o" aria-hidden="true"></i> Sign in</a>
      </div>
    </div>
  </div>
</nav>
