{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{{ title|default:"Scouts Resource Centre" }}</title>
    <link rel="icon" href="{% static "icon.ico" %}">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- <meta http-equiv="Content-Security-Policy" content="default-src 'self'"> -->
    <!-- CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{% static "css/main.css" %}">

    <meta name="description" content="{{ description|slice:":150" }}">
    <meta name="keywords" content="{{ keywords }}">
    <meta name="author" content="{{ author|default:"Scouts Resource Centre" }}">
    {% block extend_head %}{% endblock %}
    <!-- To do at some point
    <noscript>
      <div>
        <p>We are unable to use JavaScript, functionality will be limited.</p>
      </div>
    </noscript>
    -->
  </head>
  <body>
    <header>

      <nav class="navbar navbar-expand-lg navbar-dark bg-dark sticky-top">
        <div class="container">
          <!-- Navbar brand -->
          <a class="navbar-brand" href="/resources/">Scouts Resource Centre</a>
          <!-- Collapse button -->
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
          <!-- Collapsible content -->
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <!-- Links -->
            <div class="navbar-nav">
              <form class="form-inline" action="/search">
                <input class="form-control bg-light border-0 text-dark mr-sm-2 py-1" type="search" placeholder="Search" aria-label="Search", name="q", required>
              </form>
              <a class="nav-item nav-link" href="/blog/">Blog</a>
              <a class="nav-item nav-link" href="/about-us/">About us</a>
              <a class="nav-item nav-link" href="/donate/">Donate</a>
              <!-- Right alignment needed -->
              <div class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="" role="button" aria-haspopup="true" aria-expanded="false"><i class="fa fa-user-circle-o" aria-hidden="true"></i> Sign up</a>
                <div class="dropdown-menu">
                  <form class="form-inline" action="/sign-in" method="post">
                    <input class="form-control mx-3 mt-3" type="email" placeholder="Email address" aria-label="email", name="email", required>
                    <input class="form-control mx-3 my-2" type="password" placeholder="Password" aria-label="password", name="password", required>
                    <!-- Align right -->
                    <input type="submit" class="btn btn-secondary ml-3" value="Sign in" formaction="/sign-in">
                    <input type="submit" class="btn btn-primary mr-3 ml-2" value="Sign up" formaction="/sign-up">
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </nav>
      {% block extend_header %}{% endblock %}
    </header>
    {% block content %}
      <p>Content placeholder - This page's content is missing!</p>
    {% endblock %}
    <footer class="bg-info text-center pt-3">
      <div class="container">
        <div class="row">
          <div class="col-md">
            <p><a href="/about-us/">About us</a></p>
          </div>
          <div class="col-md">
            <p><a href="/contact-us/">Contact us</a></p>
          </div>
          <div class="col-md">
            <p><a href="/blog/">Blog</a></p>
          </div>
          <div class="col-md">
            <p><a href="/report-bug/">Report a bug</a></p>
          </div>
          <div class="col-md">
            <p><a href="/legal/">Legal</a></p>
          </div>
          <div class="col-md">
            <p><a href="/accessiblity/">Accessiblity</a></p>
          </div>
          <div class="col-md">
            <p><a href="/help/">Help</a></p>
          </div>
          <div class="col-md">
            <p><a href="/shop/">Shop</a></p>
          </div>
        </div>
      </div>
      <div class="container-fluid bg-dark">
        <div class="row">
          <div class="col">
            <p class="my-3">Copyright &copy 2017 Scouts Resource Centre</p>
          </div>
        </div>
      </div>
    </footer>

    <!-- jQuerry, Popper, Bootstrap -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
  </body>
</html>
