<footer class="page-footer red center-on-small-only unique-color-dark">

  <!--Footer Links-->
  <div class="container mt-5 mb-4 text-center text-md-left">
    <div class="row mt-3">

      <!--First column-->
      <div class="col-md-3 col-lg-4 col-xl-3 mb-r">
          <h6 class="title font-bold"><strong>Scouts Resource Centre</strong></h6>
          <hr class="green accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
          <p>Well...</p>
      </div>
      <!--/.First column-->

      <!--Second column-->
      <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-r">
          <h6 class="title font-bold"><strong>Useful Links</strong></h6>
          <hr class="green accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
          <p><a href="#!">Resources</a></p>
          <p><a href="#!">My Accout</a></p>
          <p><a href="#!">Legal</a></p>
          <p><a href="#!">Blog</a></p>
      </div>
      <!--/.Second column-->

      <!--Fourth column-->
      <div class="col-md-4 col-lg-4 col-xl-4">
          <h6 class="title font-bold"><strong>Contact</strong></h6>
          <hr class="green accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
          <p><i class="fa fa-home mr-3"></i>Devon, UK</p>
          <p><i class="fa fa-envelope mr-3"></i>info@scoutsresourcecentre.com</p>
      </div>
      <!--/.Fourth column-->

    </div>
  </div>
  <!--/.Footer Links-->


    <!--Copyright-->
    <div class="footer-copyright">
        <div class="container-fluid">
            © 2017 Copyright: <a href="/"> Scouts Resource Centre </a>
        </div>
    </div>
    <!--/.Copyright-->


</footer>
